<header id="header">
  <a href="{{ site.baseurl }}/">
    <!-- <img src="{{ "/img/emerald.svg" | prepend: site.baseurl | replace: '//', '/' }}" alt="Emerald Logo"> -->
    <!-- <img src="{{ "/img/me.jpg" | prepend: site.baseurl | replace: '//', '/' }}" alt="me"> -->
    <h3>Evan James Martin</h3>
  </a>
  <p style="font-size:12px">
    <a href="http://evmarts.surge.sh">portfolio</a> /
    <a href="https://github.com/evmarts">github</a> /
    <a href="https://www.linkedin.com/in/evan-martin-514336115/">linkedin</a>
  </p>
</header>
